.add__task{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
.add__task--submit{
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5%;
    width: 100px;
}
.add__task--form{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.add__task--form input{
    margin: 4px 2px;
    font-size: 16px;
    padding: 3.5% 0;
}
.add__task--box{
    text-align: center;
    padding: 0;
}
@media screen and (max-width: 1140px) {
    .add__task--form{
        width: 65%;
    }
  }
  @media screen and (max-width: 875px) {
    .add__task{
        flex-direction: column;
    }
    .add__task--form{
        width: 100%;
    }
  }
  @media screen and (max-width: 575px) {
    .add__task--form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .add__task--box{
        width: 100%;
    }
  }