.sign__out--button{
    background-color: black;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5%;
    padding: 10% 0;
    width: 175px;
}
@media screen and (max-width: 545px) {
    .sign__out--button{
        font-size: 14px;
        padding: 10px;
        width: 110px;
    }
}

